**/satp-hermes-gateway/
**/audits
**/outputs
# Node and Yarn
node_modules/
.yarn/*
.pnp.*
# Build caches
.build-cache/
.tsbuildinfo
dist/

# SATP experiment runtime and packet captures
**/*.pcap
**/*.pcapng
**/runtime/
